@import fonts
@import variables
@import buttons

body, html
    height: 100%

.wrapper
    display: flex
    flex-direction: column
    min-height: 100%

section
    flex: 1 0 auto

.footer
    flex: 0 0 auto

.breadcrumbs
    margin-top: 62px

    @media screen and ( max-width: 992px )
        margin-top: 0
        

.breadcrumb_list
    display: inline-flex
    &-item
        padding-left: 2px
        &::after
            content: "•"
            color: $brand-color
            position: relative
            top: 1px
        &:last-child::after
            display: none
    &-link
        font-family: $Ubuntu
        font-weight: 400
        font-size: 12px
        line-height: 14px
        color: #727272
        text-decoration: none

.breadcrumb_active
    font-family: $Ubuntu
    font-weight: 400
    font-size: 12px
    line-height: 14px
    color: $top-black-color
    text-decoration: none

.select
    padding: 37px 0 60px 0

.select_wrapper
    display: flex

    @media screen and ( max-width: 992px )
        flex-direction: column
        align-items: center

.reservation
    width: 100%
    max-width: 321px
    max-height: 408px
    border-radius: 5px
    background: $color-white
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1)
    padding: 53px 30px
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 24px

    @media screen and ( max-width: 1292px )
        margin-right: 0

    @media screen and ( max-width: 992px )
        margin-bottom: 45px
        max-width: 520px
        width: 100%

    @media screen and ( max-width: 731px )
        max-width: 100%

    &_main-title
        font-family: $Ubuntu
        font-weight: 700
        font-size: 24px
        line-height: 27pox
        color: $top-black-color
        margin-bottom: 39px

    &_top-select
        display: flex
        flex-direction: column
        margin-bottom: 22px
        width: 100%

    .select2-container

        @media screen and ( max-width: 992px )
            width: 100% !important

    .select2-container--open
        .select2-selection__arrow b
            transform: rotate(180deg)

    .bottom_input-info:nth-child(2n+1)
        margin-right: 14px

    .bottom_input-info:nth-child(2)
        margin: 0

    .select2-container--custom-select
        .select2-selection--single
            margin-bottom: 22px
            padding-top: 10px

    .select2-container--custom-select
        .select2-selection--single
            .select2-selection__clear
                top: 3px
                padding-right: 3px

    .select2-container--default
        .select2-selection--single
            border: none
            border-bottom: 1px solid rgba(0, 0, 0, .5)
            border-radius: 0

    .select2-container--default
        .select2-selection--single
            .select2-selection__arrow b
                background: url(../images/icon-arrow-select.svg) no-repeat top center
                width: 16px
                height: 10px
                border-width: 0
                position: absolute
                top: 9px
                border-color: $top-black-color transparent
                transition: .3s ease all

    .select2-container--default
        .select2-selection--single
            .select2-selection__rendered
                font-size: 10px
                line-height: 12px
                color: #717171
                font-family: $Ubuntu
                font-weight: 400

    .select2-container--default
        .select2-selection--single
            .select2-selection__placeholder
                color: #717171

    .select2-container--default
        .select2-selection--single
            padding-top: 10px

    .select2-container--open
        .select2-selection__arrow b
            transform: rotate(180deg)

.reservation_first-info
    display: flex
    justify-content: space-between
    margin-bottom: 22px

.reservation_second-info
    display: flex
    justify-content: space-between
    margin-bottom: 30px

.reservation_form-info
    @media screen and ( max-width: 992px )
        width: 100%

.select_car-wrapper
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr))
    grid-auto-rows: auto
    grid-row-gap: 11px
    grid-column-gap: 18px
    width: 100%
    position: relative
    z-index: 1

    @media screen and ( max-width: 1292px )
        grid-template-columns: repeat(auto-fit, minmax(148px, 1fr))
        grid-template-rows: repeat(auto-fit, minmax(160px, 1fr))
        padding: 0 20px

    @media screen and ( max-width: 731px )
        padding: 0
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr))
        grid-template-rows: repeat(auto-fit, minmax(165px, 1fr))

    @media screen and ( max-width: 582px )
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        grid-row-gap: 0
        grid-column-gap: 0
        margin: -15px -8px

.select_car-item
    border-radius: 5px
    background: $brand-color
    height: 198px
    width: 192px
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: pointer
    position: relative
    overflow: hidden

    @media screen and ( max-width: 1292px )
        width: 100%
        height: 100%
        max-height: 198px
        padding: 10px

    @media screen and ( max-width: 582px )
        width: 30%
        height: 165px
        margin: 15px 8px

    @media screen and ( max-width: 560px )
        width: 45%
        height: auto
        padding: 20px

    @media screen and ( max-width: 420px )
        width: 66%
        height: 100%

    &::before
        content: ""
        background: rgba(255, 195, 42, 0.58)
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 5
        position: absolute
        background-image: url(../images/select-car-icon.svg)
        background-repeat: no-repeat
        background-position: 13px 14px
        opacity: 0
        border-radius: 5px
        border: 2px solid transparent
    &:hover:before
        opacity: 1
        transition: .3s ease all
        border: 2px solid #000000

.active_arrow
    transition: .3s ease all
    border: 2px solid #000000
    &:hover
        background-image: url(../images/select-icon-close.svg)
        background-repeat: no-repeat
        background-position: 16px 15px
        position: relative
        z-index: 5
    &:hover:before
        opacity: 0

.active_arrow
    &::after
        content: ""
        position: absolute
        border-radius: 50%
        width: 24px
        height: 24px
        background-color: $color-white
        background-image: url(../images/select-active-icon.svg)
        background-repeat: no-repeat
        background-position: center center
        top: 10px
        left: 11px
        transform-origin: center
        transition: .4s ease all
    &:hover:after
        transform: scale(0)

.item_circle
    border: 16px solid #FFFFFF
    box-shadow: 0px 2px 19px rgba(255, 195, 42, 0.6)
    border-radius: 50%
    width: 70px
    height: 70px
    position: absolute
    top: 8px
    right: 75px

    @media screen and ( max-width: 1292px )
        right: 44px

.car_item-images
    position: relative
    margin-left: auto
    object-fit: contain
    height: 60%
    width: auto
    margin-top: 15px

    @media screen and ( max-width: 1292px )
        width: 100%
        height: 100%
        right: -10px

    @media screen and ( max-width: 1104px )
        right: -15px

    @media screen and ( max-width: 582px )
        right: -11px

    @media screen and ( max-width: 560px )
        right: -20px

    @media screen and ( max-width:  )
        width: 100%
        height: 100%

.car_item-text
    font-family: $Ubuntu
    font-weight: 700
    font-size: 24px
    line-height: 28px
    color: $color-white

    @media screen and ( max-width: 590px )
        font-size: 23px

.car_item-info
    font-family: $Ubuntu
    font-weight: 500
    font-size: 17px
    line-height: 20px
    color: $color-white

.rent
    position: relative

    .big_circle
        width: 283px
        height: 283px
        bottom: 0
        left: -44px

.rent_wrapper
    display: flex

.bottom_location-img
    margin-right: 8px

.rent_filter
    width: 274px
    height: 100%
    background-color: $color-white
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1)
    border-radius: 5px
    padding: 40px 0 40px 27px
    position: relative
    &::after
        content: ""
        width: 103px
        height: 103px
        border: 23px solid #FFC32A
        border-radius: 50%
        box-shadow: 0px 2px 20px rgba(255, 195, 42, .6)
        z-index: 1
        position: absolute
        bottom: -160px
        left: 30px

    &::before
        content: ""
        position: absolute
        width: 282px
        height: 282px
        border: 44px solid #FFC32A
        box-shadow: 0px 2px 20px rgba(255, 195, 42, .6)
        border-radius: 50%
        z-index: 1
        left: -250px
        bottom: -400px

    @media screen and ( max-width: 768px )
        display: none
        padding: 47px 10px

    .first_flex-inner
        display: flex
        justify-content: space-between

        @media screen and ( max-width: 768px )
            justify-content: space-around

        @media screen and ( max-width: 500px )
            justify-content: space-between

    .second_flex-inner
        display: flex
        justify-content: space-between
        align-items: center

        @media screen and ( max-width: 768px )
            justify-content: space-around

        @media screen and ( max-width: 500px )
            justify-content: space-between

    .three_flex-inner
        display: flex
        justify-content: space-between
        align-items: center

        @media screen and ( max-width: 768px )
            justify-content: space-around

        @media screen and ( max-width: 500px )
            justify-content: space-between

.rent_filter-inner
    display: flex
    flex-direction: column

    @media screen and ( max-width: 768px )
        width: 100%

.transmission
    margin-bottom: 40px

    @media screen and ( max-width: 768px )
        min-width: 146px

.inner_radio-btn
    padding-left: 14px

.transmission_container
    display: block
    position: relative
    padding-left: 19px
    margin-bottom: 9px
    cursor: pointer
    font-size: 22px
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    font-family: $Ubuntu
    font-weight: 400
    font-size: 12px
    line-height: 14px
    color: #000000
    &:last-child
        margin-bottom: 0

.transmission_container input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

.checkmark
    position: absolute
    top: 0
    left: 0
    height: 13px
    width: 13px
    background-color: $color-white
    border-radius: 50%
    border: 3px solid $brand-color

.transmission_container:hover input ~ .checkmark
    background-color: $color-white

.transmission_container input:checked ~ .checkmark
    background-color: $brand-color

.transmission_container:after
    content: ""
    position: absolute
    display: none

.transmission_container input:checked ~ .checkmark:after
    display: block

.short_tittle
    font-family: $Ubuntu
    font-weight: 500
    font-size: 17px
    line-height: 20px
    color: #000000
    text-transform: uppercase
    display: inline-block
    margin-bottom: 13px
    position: relative

    .inner_radio-btn
        display: block !important

.price_wrapper
    width: 80%
    margin-bottom: 40px

    @media screen and ( max-width: 768px )
        max-width: 146px
        width: 100%

    @media screen and ( max-width: 400px )
        text-align: center

    .irs
        top: -6px

    .irs--round .irs-min, .irs--round .irs-max
        display: none

    .irs--round
        .irs-line
            background-color: $brand-color
            border-radius: 0
            border: 1px solid $brand-color
            height: 0

    .irs--round
        .irs-handle
            width: 10px
            height: 10px
            border: none
            background-color: $brand-color
            border-radius: 50%
            top: 25px

    .irs--round
        .irs-bar
            background-color: $brand-color
            height: 0

    .irs--round
        .irs-from, .irs-to
            background-color: transparent
            font-weight: 400
            font-family: $Ubuntu
            font-size: 10px
            line-height: 12px
            color: #000
            &::before
                content: none

    .irs-from, .irs-to
        top: 16px

    .irs--round
        .irs-single
            background-color: $brand-color
            font-weight: 400
            font-family: $Ubuntu
            font-size: 10px
            line-height: 12px
            color: #000
            &::before
                border-top-color: $brand-color

    .irs--round
        height: 40px

    .short_tittle
        margin-bottom: 0

        @media screen and ( max-width: 768px )
            margin-bottom: 0

.value
    display: flex
    width: 100%

.price_value
    width: 100%
    height: 26px
    background-color: #EEEEEE
    border: none
    font-family: $Ubuntu
    font-weight: 400
    font-size: 10px
    line-height: 12px
    color: #717171

    &:first-child
        margin-right: 8px

.body_type
    margin-bottom: 39px

    @media screen and ( max-width: 768px )
        margin-bottom: 40px  
        min-width: 146px

.number
    margin-bottom: 40px

    @media screen and ( max-width: 768px )
        min-width: 146px

.fuel_type
    margin-bottom: 20px

    .short_tittle
        margin-bottom: 0
        cursor: pointer

        @media screen and ( max-width: 768px )
            pointer-events: none
            margin-bottom: 13px

.open_more

    &::after
        content: "+"
        color: $brand-color
        display: inline-block

        @media screen and ( max-width: 768px )
            content: none

.open_more.plus:after
    display: none

.specifications

    .short_tittle
        margin-bottom: 0
        cursor: pointer

        @media screen and ( max-width: 768px )
            pointer-events: none
            margin-bottom: 13px

.drive
    @media screen and ( max-width: 768px )
        margin-bottom: 20px
        display: flex
        flex-direction: column
        align-items: center

    .short_tittle
        margin-bottom: 0
        cursor: pointer

        @media screen and ( max-width: 768px )
            pointer-events: none
            margin-bottom: 13px

.specifications
    margin-bottom: 20px

.rent_main-inner
    display: flex
    width: 100%
    flex-direction: column
    margin-left: 30px

    @media screen and ( max-width: 768px )
        align-items: center
        margin-left: 0

.rent_main-info
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    margin-bottom: 33px
    position: relative

.rent_filter-icon
    display: none

    @media screen and ( max-width: 768px )
        display: block
        order: 1

.rent_title
    font-family: $Montserrat
    font-weight: 700
    font-size: 33px
    line-height: 41px
    color: $top-black-color
    text-transform: uppercase
    margin-left: 30px

    @media screen and ( max-width: 580px )
        margin-left: 0
        padding-right: 60px

    @media screen and ( max-width: 350px )
        font-size: 25px

.rent_mobile-filter
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(255,255 ,255 , .5 )
    z-index: 10
    display: flex
    justify-content: center
    align-items: center
    opacity: 0
    visibility: hidden
    transition: .3s ease all

    @media screen and ( min-width: 768px )
        display: none

.rent_mobile-filter
    &.rent_filter-open
        opacity: 1
        visibility: visible

    .rent_content-filter
        position: relative

        @media screen and ( max-width: 768px )
            height: 100%

    .close_icon-filter
        position: absolute
        right: 20px
        top: 20px
        z-index: 1        

    .rent_filter
        width: 100vw
        height: 100vh

        @media screen and ( max-width: 768px )
            display: flex
            justify-content: space-between
            height: 100%

.rent_breadcrumb_list
    display: flex

    @media screen and ( max-width: 916px )
        display: none

.rent_breadcrumb-item
    margin-left: 15px
    position: relative
    &::before
        content: "|"
        color: $brand-color
        position: absolute
        left: -9px
    &:first-child
        margin: 0
    &:first-child:before
        content: none

.breadcrumb_item-link
    font-family: $Ubuntu
    font-weight: 400
    font-size: 12px
    line-height: 14px
    color: #727272
    text-decoration: none

.rent_breadcrumb-active
    color: #000000

.rent_main-item
    background: var(--main_bg-item)
    width: 100%
    max-width: 913px
    border-radius: 5px
    background-size: cover
    display: flex
    justify-content: flex-end
    margin-bottom: 16px
    padding-bottom: 25px

    @media screen and ( max-width: 768px )
        width: 100%
        margin-left: 0
        

    @media screen and ( max-width: 580px )
        background: var(--main_bg-reverse)
        justify-content: flex-start
        background-size: cover
        width: 100vw

    @media screen and ( max-width: 400px )
        background-image: var(--main_bg-mob)
        background-repeat: no-repeat
        background-size: contain
        background-position: top center
        background-color: #282828
        justify-content: center
        align-items: center
        height: 754px
        padding: 0 15px

.main_flex-inner
    max-width: 100%
    margin: 34px 50px 0 0

    @media screen and ( max-width: 580px )
        margin: 34px 0 0 36px

    @media screen and ( max-width: 400px )
        margin: 20px 0 0 0
        width: 100%
        height: 50%

.main_class-desc
    font-family: $Ubuntu
    font-weight: 500
    font-size: 17px
    line-height: 19px
    color: $brand-color
    text-transform: uppercase

.main_class-car
    font-family: $Montserrat
    font-weight: 700
    font-size: 33px
    line-height: 41px
    color: $color-white
    margin-bottom: 13px

.grid_items
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(46%, 50%))
    margin-bottom: 20px
    grid-row-gap: 13px

.flex_item-box
    display: flex
    justify-content: flex-start
    align-items: center

.flex_item-images
    width: 15px
    height: 15px

.flex_item-text
    font-family: $Ubuntu
    font-weight: 400
    font-size: 15px
    line-height: 18px
    color: #E3E3E3
    margin-left: 9px

    @media screen and ( max-width: 340px )
        font-size: 13px

.flex_items-box
    width: auto
    height: 64px
    max-width: 100%
    border-left: 1px solid $color-white
    padding-left: 5px

    @media screen and ( max-width: 400px )
        border: none
        height: 60%
        width: 100%

.items_box-inner
    display: flex
    height: 100%
    flex-direction: column
    justify-content: space-between
    width: 100%

    @media screen and ( max-width: 400px )
        flex-direction: row
        width: 100%
        justify-content: space-between
        align-items: center
        height: auto

.items_box-first
    display: grid
    grid-template-rows: repeat(1, 14px)
    grid-auto-flow: column
    grid-auto-columns: 30px 
    grid-column-gap: 16px
    align-items: center

    @media screen and ( max-width: 400px )
        display: flex
        flex-direction: column
        height: 100%

.items_box-second
    display: grid
    grid-template-rows: repeat(1, 14px)
    grid-auto-flow: column
    grid-auto-columns: 30px 
    grid-column-gap: 16px
    align-items: center

    @media screen and ( max-width: 400px )
        display: flex
        flex-direction: column
        height: 100%

.items_box-three
    display: grid
    grid-template-rows: repeat(1, 14px)
    grid-auto-flow: column
    grid-auto-columns: 30px 
    grid-column-gap: 16px
    align-items: center

    @media screen and ( max-width: 400px )
        display: flex
        flex-direction: column
        height: 100%

.items_short-text
    font-family: $Ubuntu
    font-weight: 300
    font-size: 12px
    line-height: 14px
    color: $color-white
    display: inline-block
    text-transform: uppercase
    &:nth-child(-n+3)
        grid-column: span 2
        white-space: nowrap

        @media screen and ( max-width: 400px )
            font-size: 15px
            line-height: 18px
            color: $brand-color
            margin-bottom: 10px

.item_info-number
    font-family: $Ubuntu
    font-weight: 300
    font-size: 10px
    line-height: 12px
    color: #E3E3E3
    opacity: .8
    text-align: center
    
    @media screen and ( max-width: 400px )
        margin-bottom: 22px
        &:last-child
            margin-bottom: 0
        

.rent_main-btn
    width: 100%
    display: flex
    justify-content: space-between
    margin-top: 19px

    @media screen and ( max-width: 400px )
        flex-direction: column
        align-items: center
        width: 100%
        max-width: 100%

.reserve_btn
    @extend %top_btn-form
    background: $brand-color
    font-weight: 700
    display: flex
    justify-content: center
    align-items: center
        
    @media screen and ( max-width: 400px )
        margin-bottom: 11px
        width: 100% !important
                
.detail_btn
    @extend %top_btn-main
    margin-left: 13px
    border: 2px solid $color-white
    color: $color-white
    background-color: transparent
    font-weight: 700
    text-align: center
    padding: 12px
    &:hover
        border: 2px solid rgba(255,255 ,255 ,.5 )
        background-color: $color-white
        color: $top-black-color

    @media screen and ( max-width: 400px )
        margin-left: 0
        width: 100% !important
        margin-bottom: 11px

.show_more-car
    position: relative
    text-transform: uppercase
    font-family: $Ubuntu
    font-weight: 700
    font-size: 15px
    line-height: 18px
    color: $top-black-color
    display: block
    text-align: right
    margin: 0 15px 16px 0
    cursor: pointer

    @media screen and ( max-width: 400px )
        text-align: center

    &::after
        content: "▼"
        position: absolute
        right: -16px
        transform: rotate(0)
        transition: .3s ease all        

.show_more-car.arrow_rotate:after
    transform: rotate(180deg)

.more_models-car
    display: none

.show_models-car
    display: block
    width: 100%

    @media screen and ( max-width: 580px )
        width: 100vw

.catalog_about-company
    background: url(../images/details-bg-mountains.png) no-repeat bottom
    padding-bottom: 74px
    background-size: cover

.company_main-tittle
    font-family: $Montserrat
    font-weight: 700
    font-size: 33px
    line-height: 41px
    color: #000
    margin-bottom: 26px

    @media screen and ( max-width: 380px )
        font-size: 30px

.about_company-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 29px

    p
        color: #686868
        font-size: 12px
        line-height: 18px
        font-family: $Ubuntu
        font-weight: 400

.company_main-text
    columns: 570px
    column-gap: 27px

.company_read-more
    position: relative
    font-weight: 700
    font-family: $Ubuntu
    font-size: 13px
    line-height: 15px
    color: $top-black-color
    cursor: pointer

    @media screen and ( max-width: 380px )
        display: inline-block
        text-align: center
        width: 100%

    &::after
        content: "▼"
        position: absolute
        transform: rotate(0)
        transition: .3s ease all

.company_read-more.company_arrow-rotate:after
    transform: rotate(180deg)

.about_company-hidden
    display: none
    margin-top: 20px

.about_company-show
    display: block
