@import reset
@import fonts
@import variables
@import 'node_modules/select2/dist/css/select2'

// $Helvetica: 'Helvetica', 'sans-serif' (700, 400 font-weight)

// $Montserrat: 'Montserrat', 'sans-serif' (700, 800, 500 font-weight)

// $Ubuntu: 'Ubuntu', 'sans-serif'(700, 500 ,400 font-weight)

// $Brand-color: #FFC32A 

// $top-black-color: #181C1D

// $color-text: #686868

// $color-white: #FFFFFF

%top_btn
    width: 239px
    height: 60px
    background-color: $brand-color
    border-radius: 8px
    box-shadow: 0px 4px 20px rgba(255, 146, 46, 0.4)
    font-size: 16px
    line-height: 18px
    border: none
    transition: .3s ease all


.header
    padding:
        top: 40px
    margin-bottom: 109px

.container
    max-width: 1210px
    width: 100%
    padding: 0 20px
    margin: 0 auto

.top_header-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 23px

.top_header-right
    display: flex

.top_header-tel
    color: $top-black-color
    text-decoration: none
    font-size: 16px
    line-height: 19px
    font-family: $Helvetica
    font-weight: 700
    position: relative
    &::after
        content: "|"
        margin: 0 5px
    &:last-of-type
        &::after
            content: ""
            margin: 0

.currency_selection
    margin-left: 25px

.language_selection
    margin-left: 17px

.bottom_header-wrapper
    display: flex
    justify-content: space-between
    align-items: center

.bottom_header-list,
.bottom_header-social
    display: flex

.bottom_header-link
    margin-left: 38px
    transition: .3s ease all
    border-bottom: 2px solid transparent
    &:hover
         border-bottom: 2px solid #FFC32A
    &:last-child
        border-bottom: none
    &:first-child
        margin: 0
            
.header_list-link
    font-size: 16px
    line-height: 19px
    color: $top-black-color
    text-decoration: none
    font-family: $Helvetica 
    text-transform: uppercase

.bottom_header-social
    li
        margin-left: 13px
        
.popup
    color: $brand-color

.header_popup
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .7)
    top: 0
    left: 0
    opacity: 0
    visibility: hidden
    transition: .3s ease all
    &:target
        opacity: 1
        visibility: visible

.popup_wrapper
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    padding: 10px 30px

.popup_close-btn
    position: absolute
    top: 14px
    right: 14px

.popup_short-title
    margin: 27px 0 10px 0
    text-align: center
    color: #000
    font-family: $Montserrat
    font-weight: 600
    font-size: 11px
    line-height: 14px

.popup_content
    color: black
    background-color: #fff  
    border-radius: 3px
    width: 253px
    height: 309px
    padding: 10px
    position: relative
    z-index: 100

.popup_input-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.popup_input-form
    width: 177px
    height: 22px
    padding: 8px 0 8px 10px
    margin-bottom: 9px
    background-color: #EFEFEF
    border-radius: 3px
    border: none
    font-family: $Montserrat
    font-weight: 400
    color: #646768
    font-size: 10px
    line-height: 9px
    opacity: .7

.pupup_textarea-form
    width: 176px
    height: 96px
    padding: 0
    margin-bottom: 13px
    resize: none
    font-family: $Montserrat
    font-weight: 400
    color: #646768
    font-size: 10px
    line-height: 9px
    padding: 8px 0 8px 10px
    opacity: .7

.popup_form-btn
    @extend %top_btn
    max-width: 176px
    height: 26px
    border-radius: 3px
    color: $color-white
    font-weight: 700
    font-family: $Ubuntu
    font-size: 10px
    line-height: 8px
    transition: .3s ease all
    border: 2px solid transparent
    &:hover
        color: #000000
        border: 2px solid #000000
        border-radius: 5px
        background-color: transparent
    
.car_rental-main
    width: 526px

.car_rental-wrapper
    display: flex
    justify-content: flex-end

.car_rental-top
    width: 50%

.car_rental-title
    color: $top-black-color
    font-family: $Montserrat
    font-weight: 800
    font-size: 53px
    line-height: 65px
    text-align: center
    text-transform: uppercase
    margin-bottom: 5px

.car_rental-text
    color: $color-text
    font-family: $Ubuntu
    font-weight: 400
    font-size: 15px
    line-height: 18px
    text-align: center
    max-width: 497px
    display: inline-block
    margin-bottom: 20px

.rental_box-wrapper
    width: 497px
    height: 206px
    border: 1px solid black

.top_select-box
    display: flex
    justify-content: space-around
    // align-items: center
    margin-top: 36px

.select2-container
    width: 197px !important
    position: relative
    z-index: 20
.select2-container 
    .select2-selection--single 
        .select2-selection__rendered
            padding: 0

.select2-container--default 
    .select2-selection--single
        border: none
        border-bottom: 1px solid rgba(0, 0, 0, .5)
        border-radius: 0

.select2-container--default 
    .select2-selection--single 
        .select2-selection__arrow
            background: url(../images/icon-arrow-select.svg) no-repeat center center
            background-size: contain
            position: absolute
            top: 0
        
.select2-container--default
    .select2-selection--single 
        .select2-selection__arrow b
            display: none
            visibility: hidden

.select2-selection__placeholder
    font-family: $Ubuntu
    font-weight: 400
    font-size: 10px
    line-height: 12px
    color: #717171

.select2-container--default 
    .select2-selection--single 
        .select2-selection__clear
            margin-right: 30px
            margin-top: 2px
                
            